html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#body {
	margin: 0;
	background-image: url("back.png");
}

#first {
	background: rgba(17,17,17, 0.95);
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	border: none;
}

#title {
	font-family: 'Source Sans Pro', sans-serif;
	color: #DDDDDD;
	font-size: 90px;
	text-align: center;
	padding-top: 15%;
	font-weight: bold;
}

#intro {
	font-family: 'Source Sans Pro', sans-serif;
	color: #DDDDDD;
	font-size: 16px;
	text-align: center;
	padding: 1% 15%;
}

#selection {
	font-family: 'Source Sans Pro', sans-serif;
	color: #DDDDDD;
	font-size: 20px;
	text-align: center;
	padding-top: 3%;
}

#size {
	display: block;
	margin: 1% auto;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #111111;
	font-size: 20px;
	font-weight: 300;
}

#play {
	display: block;
	margin: 5% auto;
	border-radius: 30px;
	border: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #111111;
	font-size: 20px;
	font-weight: 300;
}

#second {
	background-color: rgba(221,221,221,0.90);
	width: 100vw;
	min-height: 100vh;
	max-height: auto;
	margin: 0 auto;
	padding-top: 1%;
	border: none;
}

/*#display {
	display: block;
	margin: 1% auto;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #111111;
	font-size: 20px;
	font-weight: 300;
}
*/


#board {
	margin: 0 auto;
	border: none;
}

#display {
	margin: 0 auto;
	background-color: #111111;
	display: block;
	width: 500px;
	height: 30px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #DDDDDD;
	font-size: 20px;
	font-weight: 300;
}

#menu {
	margin: 5px auto;
	text-align: center;
}

#clear {
	background-color: #DDDDDD;
	display: inline-block;
	border-radius: 5px;
	width: 160px;
	height: 30px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #111111;
	font-size: 15px;
	font-weight: 300;
}

#sp {
	background-color: #DDDDDD;
	display: inline-block;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #111111;
	font-size: 15px;
}

#mp {
	background-color: #DDDDDD;
	display: inline-block;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	color: #111111;
	font-size: 15px;
}

/*#credits {
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 1px;
	left: 50%;
}
*/


ul {
	margin: 10px auto;
	padding: 1%;
	height: inherit;
	background-image: url("wood.png");
	box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.75);
	border-radius: 10px;
}

li {
	background-color: none;
	border-radius: 3px;
	display: block;
	width: 70px;
	height: 70px;
	border: 1px solid black;
	float: left;
	box-sizing: border-box;
}

.hoverOne {
	background-color: rgba(26,26,26,0.9);
}

.hoverTwo {
	background-color: rgba(255,255,240,0.9);
}